@import "bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	// для фиксированного сайта
	// body
	// 	width: 1200px
	.header_modal
		margin-top: 20px
	.intermediate
		.intermediate_wrap
			margin-bottom: 20px
			.intermediate_item
				display: block
				margin: 30px auto 30px
			.modal_form_input_wrap
				display: inline-block
	.header
		min-height: 573px
		margin-bottom: 25px
	.header_logo 	
		a 
			h1
				font-size: 37px
	.header_nav		
		display: inline-block
		position: relative
		ul
			padding-left: 59px
			margin-bottom: 0
			margin-top: 24px
			text-align: left
			text-transform: uppercase
			li		
				margin-right: 40px
				a
					font-size: 12px
					&:last-child
						margin-right: 0
				&:last-child
					margin-right: 0
	.header-tel-back
		font-size: 16px
		padding-left: 0
		text-align: right
	.header-main-aside 
		h2
			font-size: 30px
			margin-bottom: 18px
		aside
			h3
				font-size: 20px
				margin-top: 0
				padding-right: 0
				margin-bottom: 22px
			p
				font-size: 15px
				padding-right: 17px
	.go-to-constructor-container 
		.go-to-constructor-img 
			margin-bottom: 23px
			.name-img,
			.foto-img
				height: 131px
			.name-img
				margin-left: 19px
			.foto-img
				top: 51px
				right: -30px

	.top-header-panel	
		margin-bottom: 46px
	.go-to-constructor-container
		&:before
			@include sprite($arrow-mob)
	.mockup-container 

		.mockup-img1
			left: 38px
			top: 105px
		.mockup-img2
			top: 138px
			right: -10px
		img
			height: 357px
		.mockup-price
			top: 47px
			right: 2px
			span
				font-size: 24px
				padding: 42px 16px
	.our_advantages_title
		h4
			margin: 21px 0
			padding: 29px 14px
			width: 368px
		.title-1
			margin-top: 53px
			margin-left: 22px
			padding-left: 27px
			width: 375px
		.title-2
			width: 425px
		.title-3
			margin-top: 110px
			margin-left: 25px
			padding-left: 26px
			padding-bottom: 27px
		.tittle-left	
			margin-top: 76px
			&.title-4
				width: 431px
				margin-top: 92px
				padding-left: 42px
				padding-right: 0
			&:before
				@include sprite($figure-up-mob)
			&:after
				@include sprite($dotted-line-mob)
		.tittle-right
			&:before
				@include sprite($dotted-line-mob)
				transform: rotate(180deg)
			&:after
				@include sprite($figure-up-mob)
				transform: rotate(180deg)
		.title-right-indent-1
			margin-top: 85px
			padding-left: 47px
	.our_advantages_title
		font-size: 19px
	.our_advantages_item
		.some-foto-1
			img
				height: 276px
		.some-foto-2
			img
				height: 268px
		.some-foto-3
			img
				height: 273px
		.some-foto-4 
			padding-top: 17px
			img
				height: 380px
			.img-decor
				top: -53px
				right: 21px
				height: 272px

		.some-logo
			min-height: 348px
			.logo-some-company
				width: 113px
				height: 116px
			.apple
				top: 118px
				left: 159px
				img
					top: 23px
					left: 30px
					width: 46px
			.blackBerry
				left: 51px
				top: 56px
				img
					left: 14px
					top: 44px
					width: 80px
			.hts
				top: 0px
				left: 156px
				img
					top: 24px
					left: 11px
					width: 91px
			.lg
				top: 165px
				right: 72px
				img
					left: 18px
					top: 39px
					width: 72px
	
			.nokia
				left: 161px
				top: 237px
				img
					left: 14px
					top: 45px
					width: 85px
			.palm
				left: 51px
				top: 177px
				img
					left: 17px
					top: 35px
					width: 78px
			.samsung
				right: 68px
				top: 43px
				img
					top: 44px
					left: 17px
					width: 77px
	.our_advantages_item-row-1
		margin-bottom: 25px


	.create-cover-title
		font-size: 23px
		margin-top: 70px
		margin-bottom: 56px
	.accordion_title
		font-size: 15px
		padding: 10px 40px
		line-height: 19px	
		min-height: 59px
		.arrow
			top: 23px
			right: 13px
			@include sprite ($arrow-acor-mob)
	.accordion_content
		font-size: 14px
		p
			padding-top: 9px
			padding-bottom: 0px
	.constructor-area-container 
		min-height: 0
		.functions-container
			min-height: 530px
			width: 213px
			margin-right: 0
		.functions-title
			font-size: 14px 
			margin-bottom: 15px
			margin-top: 31px
			.second
				font-size: 11px
		.add-foto-form
			font-size: 12px
			padding: 9px 0 4px
			.disk
				@include sprite($disk-mob)
			.disk-text
				margin-top: -2px
			.instagram
				@include sprite($instogram-mob)
			.instagram-text
				margin-top: -6px
			.vk
				@include sprite($vk-mob)
		.add-files-container 
			width: 132px
			.or	
				font-size: 12px
		.want
			bottom: 25px
			left: 37px
			word-spacing: -1px
			&:before
				top: 9px
				left: -6px
				@include sprite($man)
		.to-order-container 
			.to-order
				font-size: 14px
				padding: 16px 0 19px
			.name-phone 
				margin-bottom: -1px
				font-size: 18px
			.price	
				font-size: 20px
				margin-bottom: 8px
	.some-constructor
		.phone-foto
			height: 462px
			.model-foto
				bottom: -4px
				right: 94px
				height: 344px
			.your-name
				right: 137px
				top: 97px
				height: 155px
				width: 309px
				&:before
					@include sprite($arrow-constructor-mob)
					right: 40px
					bottom: -56px


	.intermediate 
		.intermediate-title
			font-size: 23px
			margin-top: 89px
			margin-bottom: 61px
		.foto-container 
			img
				height: 122px
		.intermediate-form-container 
			.get-discount
				font-size: 15px
				padding: 11px 108px
				margin-bottom: 15px
			.subscribe-insta,
			.subscribe-insta-2
				margin-bottom: 15px
				padding-left: 82px
				.numder
					background: #ce93bf
					padding: 16px 22px
				.text
					padding: 12px 0 20px
	#form 
		input
			height: 57px
			margin-bottom: 17px
			padding-left: 7px
			&::-webkit-input-placeholder
				font-size: 14px
			&:-moz-placeholder
				font-size: 14px
			&::-moz-placeholder
				font-size: 14px
			&:-ms-input-placeholder
				font-size: 14px
		input[type=submit]
			font-size: 14px


	.delivery-scheme-section 
		.title
			font-size: 23px
			margin-top: 70px
			margin-bottom: 62px
		.delivery-scheme-title
			padding: 17px 0
			margin-bottom: 17px
		.delivery-scheme-item-1,
		.delivery-scheme-item-2
			.content
				font-size: 12px
				padding: 35px 0
			&.point
				&:before
					@include sprite($point)
					transform: scale(0.8)
					top: -17px
				&:after
					@include sprite($point)
					transform: scale(0.8)
					 bottom: -17px
		.box
			&:before
				@include sprite($box-mob)
				left: -36px
		.box-2
			&:before
				@include sprite($box-2-mob)
				left: -41px
		.clock
			&:before
				@include sprite($clock-mob)
		.card
			&:before
				@include sprite($card-mob)
				left: -44px
				top: 9px
		.get
			&:before
				@include sprite($get-mob)
				left: -41px
		.procent
			&:before
				@include sprite($procen-mobt)
				left: -40px
		.good
			&:before
				@include sprite($good-mob)
				left: -38px

		.delivery-scheme-item-1
			margin-bottom: 17px
			span
				margin-left: 38px
			.indent-1
				padding: 20px 0
			.indent-2
				padding: 20px 0
		.delivery-scheme-item-2
			margin-bottom: 17px
			span
				margin-left: 31px
			.indent-3
				padding: 28px 0
		.wholesale-price-container
			margin: 26px auto auto
			.discuss-lable
				font-size: 16px
			.discuss
				font-size: 14px
				padding: 18px 0 16px


	.book-cover-section
		.title
			font-size: 23px
			margin-top: 93px
			margin-bottom: 50px
		.foto-container
			img
				height: 132px	
		.form-aside-container
			padding-right: 104px
			padding-left: 7px
			#form 
				label
					font-size: 12px
				input
					margin-bottom: 10px
		.form-aside
			margin-bottom: 16px
			b
				font-size: 20px
			p
				font-size: 14px
				margin-top: 0px
				line-height: 1.4
	

	.footer
		padding-top: 123px
		.footer-container
			padding-bottom: 57px
		.footer-nav 
			ul
				padding-left: 0
			li
				margin-right: 44px
				&:last-child
					margin-right: 0
		.develp-company
			margin-top: 23px
			padding-right: 72px
		.develp-company
			a
				&:before
					right: -49px
					top: -12px
					@include sprite($logo-footer-mob)

	.order
		bottom: -338px
		left: -204px
		width: 217px
		p
			font-size: 15px
		.go-to-constructor-button
			padding: 11px 18px
			font-size: 13px
	
	.mockup-container
		padding-top: 0

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	
	.header_logo 	
		a 
			h1
				font-size: 27px
				margin: 0 0 0 18px
	.header
		min-height: 475px
		margin-bottom: 0
	.header_nav 
		ul
			padding-left: 0
			margin-top: 11px	
	.header-tel-back
		padding: 0
		font-size: 15px
		margin-top: 13px	
	.header-main-aside 
		h2
			font-size: 24px
			margin-bottom: 13px
			margin-top: 14px
			padding-left: 18px
		aside
			padding-left: 17px	
			h3
				font-size: 16px
				margin-bottom: 16px
			p
				font-size: 14px

	.order
		bottom: -271px
		left: -153px
		width: 158px
		p
			text-align: left
			font-size: 14px
			margin-bottom: 5px
		.go-to-constructor-button
			font-size: 12px
			padding: 10px 4px

	.go-to-constructor-container 		
		.go-to-constructor-img 
			margin-bottom: 7px
			margin-top: 16px
			padding-bottom: 40px
			.name-img,
			.foto-img
				height: 100px
			.name-img
				margin-left: 17px
			.foto-img
				top: 40px
		&:before
			transform: scale(0.75)
			right: -101px
			top: -4px
	.mockup-container 
		img
			height: 269px
		.mockup-price
			top: 31px
			right: 2px
			span
				font-size: 18px
				padding: 26px 7px
		.mockup-img1
			left: 35px
			top: 67px
		.mockup-img2
			top: 89px
			right: 2px

	.our_advantages_item
		.some-foto-1 
			img
				height: 214px
		.some-foto-2
			padding-left: 35px
			padding-top: 22px
			img
				height: 207px
		.some-foto-3
			img
				height: 209px
		.some-foto-4
			padding-left: 56px
			padding-top: 18px
			.img-decor
				top: -34px
				right: 9px
				height: 205px
			img
				height: 293px

	.our_advantages_item
		.some-logo
			min-height: 250px
			.logo-some-company
				width: 88px
				height: 90px
			.apple
				top: 73px
				left: 126px
				img
					top: 15px
					left: 22px
					width: 37px
			.blackBerry
				left: 42px
				top: 25px
				img
					left: 11px
					top: 33px
					width: 62px
			.hts
				top: -18px
				left: 123px
				img
					top: 17px
					left: 8px
					width: 71px
			.lg
				top: 109px
				right: 46px
				img
					left: 13px
					top: 30px
					width: 56px	
	
			.nokia
				left: 127px
				top: 164px
				img
					left: 10px
					top: 34px
					width: 66px
			.palm
				left: 43px
				top: 115px
				img
					left: 14px
					top: 30px
					width: 58px
			.samsung
				right: 42px
				top: 15px
				img
					top: 33px
					left: 10px
					width: 63px


	.our_advantages_title
		font-size: 15px
		h4
				
			padding: 23px 0 0 34px
		.tittle-left
			margin-top: 40px
			&:before
				left: 0
				top: 0
			&:after
				right: -98px
				bottom: -28px
			&.title-4
				width: 328px
				margin-top: 74px
				padding-left: 35px

		.tittle-right
			&:before
				left: -71px
				top: -1px
			&:after
				bottom: -31px

		.title-1
			width: 288px
			padding-left: 18px
			margin-top: 39px
		.title-2
			width: 331px
			padding: 27px 2px 21px 34px
			margin-top: 42px
		.title-3
			margin-top: 77px
			padding-left: 19px
			padding-bottom: 0px
			width: 285px
		.tittle-left
			&:after
				transform: scale(0.75)
			&:before
				transform: scale(0.75)
			.second-title
				margin-top: 27px
		.tittle-right
			&:after
				transform: rotate(180deg) scale(0.75)
			&:before
				transform: rotate(180deg) scale(0.75)

	.our_advantages_item-row-3
		margin-bottom: 67px
	.header_logo
		display: block
	.header_modal
		margin-top: 40px
	


	.create-cover-title
		font-size: 18px
		margin-top: 47px
		margin-bottom: 44px
	.accordion_title
		padding: 14px 40px
		line-height: 14px
		min-height: 43px
		.arrow
			top: 14px
			right: 7px
			transform: scale(0.8)
	.constructor-area-container 
		.functions-container
			min-height: 406px
			width: 157px
		.add-files-container
			width: 138px
			.or
				font-size: 9px
				margin-left: 14px
				margin-top: 0px
				margin-bottom: -2px
		.functions-title
			margin-top: 18px
			font-size: 12px
			margin-bottom: 12px
		.add-foto-form
			margin-left: 13px
			position: relative
			padding-bottom: 7px
			.disk
				@include sprite($disk-mob)
				transform: scale(0.8)
				position: absolute
				left: 17px
			.disk-text
				margin-top: -5px
				padding-left: 45px
				padding-right: 13px
				line-height: 15px
			.instagram
				@include sprite($instogram-mob)
				transform: scale(0.8)
				position: absolute
				left: 13px
				top: 10px
			.instagram-text
				margin-top: -5px
				padding-left: 45px
				padding-right: 13px
				line-height: 16px
			.vk
				@include sprite($vk-mob)
				transform: scale(0.8)
				position: absolute
				top: 15px
				left: 12px
			.vk-text
				margin-top: -5px
				padding-left: 45px
				padding-right: 13px
				line-height: 16px
		.to-order-container 
			.name-phone
				font-size: 14px
				margin-bottom: -2px
			.price
				font-size: 16px
				margin-bottom: 6px
			.to-order
				padding: 8px 0 11px
		.want
			bottom: 18px
			left: 22px
			font-size: 12px
			&:before
				transform: scale(0.8)
				left: 1px


	.some-constructor
		left: 116px
		top: 14px
		.phone-foto 
			height: 358px
			.your-name
				right: 196px
				top: 79px
				height: 116px
				width: 239px
				&:before
					transform: rotate(90deg) scale(0.75)
					right: 26px
					bottom: -53px
			.model-foto
				bottom: 0px
				right: 162px
				height: 260px


	.intermediate 
		.intermediate-title
			font-size: 18px
			margin-top: 70px
			margin-bottom: 46px
			p
				display: inline-block 
		.foto-container
			img
				height: 96px
				margin-bottom: 10px
		.intermediate-form-container 
			.get-discount
				font-size: 14px
				padding: 6px 61px
				margin-bottom: 11px
			.subscribe-insta,
			.subscribe-insta-2
				padding-left: 63px
				.numder
					padding: 13px 13px
					font-size: 11px
				.text
					font-size: 12px
					padding: 12px 0 13px
			.subscribe-insta
				margin-bottom: 13px
			.subscribe-insta-2
				margin-bottom: 12px
	#form 
		input
			height: 42px
			margin-bottom: 13px
			padding-left: 7px
			&::-webkit-input-placeholder
				font-size: 12px
			&:-moz-placeholder
				font-size: 12px
			&::-moz-placeholder
				font-size: 12px
			&:-ms-input-placeholder
				font-size: 12px



	.delivery-scheme-section 
		.title
			font-size: 18px
			margin-top: 60px
			margin-bottom: 47px
		.delivery-scheme-title
			font-size: 14px
			padding: 7px 0 13px
			margin-bottom: 12px
		.delivery-scheme-item-1,
		.delivery-scheme-item-2
			&.point
				&:before
					@include sprite($point)
					transform: scale(0.7)
					top: -17px
				&:after
					@include sprite($point)
					transform: scale(0.7)
					bottom: -17px
		.delivery-scheme-item-1
			margin-bottom: 12px
			.content
				padding: 26px 0
			.indent-1
				padding: 3px 14px
			.indent-2
				padding: 10px 4px

				span
					margin-left: 22px
		.delivery-scheme-item-2
			margin-bottom: 12px
			.content
				padding: 26px 0
			.indent-3	
				padding: 18px 0
		.box
			&:before
				transform: scale(0.8)
			
		.box-2
			&:before
				transform: scale(0.8)
				
		.clock
			&:before
				transform: scale(0.8)
				left: -39px
				top: -8px
				
		.card
			&:before
				transform: scale(0.8)
				left: -38px
				top: 17px
				
		.get
			&:before
				transform: scale(0.8)
				left: -33px
				
		.procent
			&:before
				transform: scale(0.8)
				left: -27px
				top: 10px		
		.good
			&:before
				transform: scale(0.8)
				left: -33px
				top: -1px
		.wholesale-price-container 
			padding: 0
			margin: 18px auto auto
			.discuss-lable		
				font-size: 13px
			.discuss
				margin: 0 15px
				padding: 9px 0 12px



	.book-cover-section 
		.title
			font-size: 18px
			margin-top: 72px
			margin-bottom: 36px
		.form-aside-container
			padding-right: 0
			padding-left: 6px
			#form
				padding-right: 25px
				input
					margin-bottom: 4px
		.form-aside
			margin-bottom: 0px
			b
				font-size: 16px
			p
				font-size: 12px
		.foto-container 
			margin-top: 11px
			padding-left: 47px
			img
				margin-bottom: 10px
				height: 107px
	.footer
		padding-top: 139px
		margin-top: 0
		.develp-company 
			margin-top: 20px	
			padding-right: 55px
			a
				&:before
					transform: scale(0.7)
					right: -39px
					top: -9px
		.footer-container
			padding-bottom: 32px

	.popup3
		.dm-modal
			width: 100%
			padding: 100px 46px
			border-radius: 0
			border: none
		.add-file-area
			width: 100%	

	.our_advantages_title 
		.tittle-left
			&:after
				right: -66px
/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
	.header_logo
		width: 170px
		float: left
	.header
		background-position: center bottom
		background: #ce93bf
		position: relative
		&:after
			content: ''
			display: block
			position: absolute
			z-index: 1
			background: url(../img/image-.png) no-repeat
			width: 100%
			height: 100px
			background-position: center top
			bottom: -1px
	.header-tel-back
		text-align: center
	.header_nav
		display: none
	.button-mobile-menu,
	.mobile-menu
		display: block
	.mockup-container
		width: 472px
		height: 670px
		margin: auto
		img
			height: 370px
		.mockup-img1
			right: 24px
		.mockup-img2
			right: 30px
		.mockup-price 
			span
				font-size: 24px
				padding: 39px 13px
	.go-to-constructor-container
		width: 180px
		margin: auto
		&:before
			transform: rotate(92deg) scale(1,-1)
			right: 136px
			top: 200px
		.go-to-constructor-img 
			.name-img,
			.foto-img
				height: 150px	
			.foto-img
				right: 20px
			.name-img
				margin-left: -128px	
	.order
		bottom: 96px
		left: 153px
		width: 228px
		p
			font-size: 15px
			margin-bottom: 10px
		.go-to-constructor-button
			padding: 17px 20px
			font-size: 15px
	.header-main-aside
		margin-bottom: 45px


	.our_advantages
		.flex-mob
			display: flex
			flex-flow: row wrap
	.our_advantages_item 
		width: 450px
		height: auto
		margin: auto
		&.order-item-1
			order: 1
		&.order-item-2
			order: 2
		.some-logo
			width: 300px
			margin: auto

			.samsung
				left: 210px
			.lg
				left: 213px
		.some-foto-2,
		.some-foto,
		.some-foto-1,
		.some-foto-3
			text-align: center
		.some-foto-2
			width: 300px
			margin: auto
			padding: 0
		.some-foto-4
			width: 337px
			margin: auto
	.our_advantages_title
		margin-bottom: 50px
		font-size: 18px 
		.tittle-left
			float: none
			&.title-4
				width: 365px
			&:after
				@include sprite($figure-up)
				transform: rotate(180deg) scale(0.6)
				right: -30px
				bottom: -18px


		h4
			padding-left: 50px
			width: 369px
		.title-1
			width: 352px
		.title-2
			width: 390px
		.title-3
			width: 320px
			margin: auto
		.tittle-right
			&:before
				@include sprite($figure-up)
				transform: scale(0.6)
				top: -8px
				left: -29px
	.our_advantages_item-row-2
		margin-bottom: 50px
	.our_advantages_item-row-3
		margin-bottom: 0
		
	.accordion-container
		max-width: 250px
		float: left
	.constructor-container
		width: calc(100% - 250px)
		float: right
		min-width: 350px

	.some-constructor 
		left: 91px
		top: -3px
		.phone-foto
			height: 327px
			width: 282px
			.your-name
				right: 200px
				top: 72px
				height: 104px
				width: 212px
				&:before
					right: -2px
			.model-foto
				bottom: 46px
				right: 182px
				height: 212px

	.constructor-area-container 
		.add-foto-form
			margin-left: 0
			font-size: 10px
			.disk,
			.instagram,
			.vk
				transform: scale(0.7)
		.add-files-container
			width: 115px
		.functions-title 
			font-size: 11px
			.second
				font-size: 9px
		.to-order-container 
			.to-order
				font-size: 12px
		.functions-container
			width: 150px


	.foto-container 
		img
			margin-bottom: 0
	.img-item
		display: inline-block
		padding: 0 5px
		margin-bottom: 10px 
	.img-container
		display: block
		text-align: center

	.delivery-scheme-section 
		.delivery-scheme-title
			margin-left: 15px
			margin-right: 15px
		.delivery-scheme-item-1
			padding-left: 15px
			.indent-1,
			.indent-2
				padding: 20px 75px
			.content
				p
					display: inline
				span
					&:before
						left: -45px
						top: 3px
				.box
					&:before
						top: -9px
		.delivery-scheme-item-2,
		.max
			padding-right: 15px
			.indent-3
				&:before
					content: ''
					@include sprite($point)
					display: inline-block
					position: absolute
					bottom: 48px
					transform: scale(0.7)
					left: 0
					right: 0
					margin: auto
			.content
				p
					display: inline
				span
					&:before
						left: -45px
						top: -8px
	.book-cover-section 
		.form-aside-container 
			#form
				padding-right: 25px
				padding-left: 25px
		.form-aside
			padding-right: 25px
			padding-left: 25px

	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important
	
	.header_title
		h1
			font-size: 30px
			margin-top: 40px
	.header_modal
		margin-top: 40px
@media only screen and (max-width : 660px)
	.frame-container
		width: 100%	
		overflow: auto
@media only screen and (max-width : 600px)
	.accordion-container
		max-width: 100%
		float: none

	.constructor-container
		width: 100%
		float: none
		min-width: 100%
	.some-constructor
		left: 0
		.phone-foto
			left: 0
			width: 200px
			.model-foto
				right: 0
			.your-name
				left: -36px
	.constructor-area-container
		position: relative
	.intermediate-form-container
		display: none
@media only screen and (max-width : 570px)
	.header
		min-height: auto
	.book-cover-section 
		.foto-container
			padding: 0


	.go-to-constructor-container 
		.go-to-constructor-img 
			.foto-img,
			.name-img
				height: 100px
			.name-img
				margin-left: -55px
			.foto-img
				right: 35px
		&:before
			transform: rotate(90deg) scale(.75,-.75)
			right: 99px
			top: 138px
	.mockup-container
		width: 200px
		height: 520px
		img
			height: 269px
		.mockup-img1
			left: 40px
			top: 16px
		.mockup-img2
			right: -65px
			top: 39px
		.mockup-price
			top: -22px
			right: -62px
			span
				font-size: 18px
				padding: 29px 9px
	.order
		bottom: 85px
		left: 38px
		width: 160px
		p
			font-size: 14px
		.go-to-constructor-button
			padding: 11px 18px
			font-size: 12px
	.our_advantages_title
		font-size: 15px
		.title-1,
		.title-2,
		.title-3,
		.title-4,
		h4
			width: 310px
			margin: auto
		.title-2	
			padding-left: 46px
			padding-bottom: 0
		.tittle-left 
			&:before
				left: 10px
	.our_advantages_item-row-1,
	.our_advantages_item-row-2,
	.our_advantages_item-row-3
		margin-bottom: 50px
	.our_advantages_item-row-1
		margin-top: 50px

	.footer 
		.footer-nav 
			li
				display: block
				margin-bottom: 10px
/* Extra Small Devices, Phones */
@media only screen and (max-width : 520px)
	/**/
		
	.dm-modal
		width: 100%
	.dm-modal
		input[type=submit]
			width: 100%

	.our_advantages_title
		font-size: 14px
		h4
			margin-top: 5px
			padding-left: 0
			width: 285px
		.title-2,
		.title-3
			padding-left: 0
			padding-bottom: 0
		.title-3
			width: 242px
		.tittle-left 
			&:before
				left: -20px
			&:after
				right: -10px
			&.title-4
				width: 290px
				padding-left: 0
	.our_advantages_item 
		width: 100%
		.some-logo
			margin-top: 12px
		.some-foto-1,
		.some-foto-2,
		.some-foto-3,
			img
				height: auto
				width: 100%
		.some-foto-4
			padding-left: 0
			.img-decor
				right: 78px
	.our_advantages_item-row-1
		margin-top: 20px
	.constructor-area-container 
		.add-files-container
			width: 144px
			.or
				font-size: 13px
		.functions-title
			font-size: 14px
			.second
				font-size: 12px
		.add-foto-form
			font-size: 13px
@media only screen and (max-width : 480px)
	/**/
	.header-tel-back
		display: none
	.header_title
		h1
			font-size: 26px
	.modal_form_input_wrap
		.modal_input_error
			right: 0px
	.intermediate
		.intermediate_title
			h3
				font-size: 20px
	.our_advantages_item 
		.some-foto-4
			margin: auto
			width: 310px
	.popup3 
		.add-foto-form
			width: 100%
			padding: 19px 13px 17px 50px
	.popup4
		.color-backround,
		.colot-text
			display: none
@media only screen and (max-width : 375px)
	.intermediate,
	.book-cover-section
		.mob-setting
			display: none
	.constructor-area-container 
		min-height: 680px
		.want
			margin: auto
			top: 0
			left: 0
			right: 0

		.functions-container
			min-height: 640px
			position: absolute
			left: 0
			right: 0
			top: 40px
			margin: auto
	.some-constructor
		top: 294px
		left: 50px
	.our_advantages_item 
		.some-foto-4
			margin: auto
			width: 250px
			.img-decor
				right: -3px
		.some-foto-2
			width: 100%
		.some-logo
			.apple
				top: 69px
				left: 105px
			.blackBerry
				left: 20px
				top: 23px
			.hts
				top: -23px
				left: 103px
			.lg
				left: 192px
				top: 106px
			.nokia
				left: 107px
				top: 161px
			.palm
				left: 22px
				top: 113px			
			.samsung
				left: 193px
				top: 12px
			

	.go-to-constructor-container 
		.go-to-constructor-img 
			.name-img
				margin-left: -65px
			.foto-img
				right: 57px
		&:before
			right: 114px	
	.mockup-container 	

		.mockup-img1
			left: 9px
		.mockup-img2
			right: -38px
		.mockup-price
			right: -40px
			width: 86px
			height: 86px
			span
				position: absolute
				left: 0
				right: 0
				top: calc(50% - 16px)
				padding: 0
	.our_advantages_title 
		.title-1
			width: 300px
		.tittle-right
			&:before
				left: -12px
			&.title-3
				&:before
					left: -29px
				&:after
					right: -10px
	.our_advantages_title 
		h4
			width: 265px
		.title-2
			width: 217px
		.tittle-left
			&:after
				right: -20px
			&.title-4
				width: 280px

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1201px)
	.container
		width: 1200px



