/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path

  At the bottom of this section, we provide information about the spritesheet itself
  $spritesheet: width height image $spritesheet-sprites
  */
$arrow-acor-mob-name: 'arrow-acor-mob'
$arrow-acor-mob-x: 646px
$arrow-acor-mob-y: 81px
$arrow-acor-mob-offset-x: -646px
$arrow-acor-mob-offset-y: -81px
$arrow-acor-mob-width: 26px
$arrow-acor-mob-height: 11px
$arrow-acor-mob-total-width: 674px
$arrow-acor-mob-total-height: 285px
$arrow-acor-mob-image: '../img/sprite.png'
$arrow-acor-mob: (646px, 81px, -646px, -81px, 26px, 11px, 674px, 285px, '../img/sprite.png', 'arrow-acor-mob', )
$arrow-constructor-mob-name: 'arrow-constructor-mob'
$arrow-constructor-mob-x: 405px
$arrow-constructor-mob-y: 99px
$arrow-constructor-mob-offset-x: -405px
$arrow-constructor-mob-offset-y: -99px
$arrow-constructor-mob-width: 60px
$arrow-constructor-mob-height: 57px
$arrow-constructor-mob-total-width: 674px
$arrow-constructor-mob-total-height: 285px
$arrow-constructor-mob-image: '../img/sprite.png'
$arrow-constructor-mob: (405px, 99px, -405px, -99px, 60px, 57px, 674px, 285px, '../img/sprite.png', 'arrow-constructor-mob', )
$arrow-constructor-name: 'arrow-constructor'
$arrow-constructor-x: 332px
$arrow-constructor-y: 99px
$arrow-constructor-offset-x: -332px
$arrow-constructor-offset-y: -99px
$arrow-constructor-width: 73px
$arrow-constructor-height: 69px
$arrow-constructor-total-width: 674px
$arrow-constructor-total-height: 285px
$arrow-constructor-image: '../img/sprite.png'
$arrow-constructor: (332px, 99px, -332px, -99px, 73px, 69px, 674px, 285px, '../img/sprite.png', 'arrow-constructor', )
$arrow-mob-name: 'arrow-mob'
$arrow-mob-x: 182px
$arrow-mob-y: 99px
$arrow-mob-offset-x: -182px
$arrow-mob-offset-y: -99px
$arrow-mob-width: 150px
$arrow-mob-height: 72px
$arrow-mob-total-width: 674px
$arrow-mob-total-height: 285px
$arrow-mob-image: '../img/sprite.png'
$arrow-mob: (182px, 99px, -182px, -99px, 150px, 72px, 674px, 285px, '../img/sprite.png', 'arrow-mob', )
$arrow-punkt-name: 'arrow-punkt'
$arrow-punkt-x: 0px
$arrow-punkt-y: 99px
$arrow-punkt-offset-x: 0px
$arrow-punkt-offset-y: -99px
$arrow-punkt-width: 182px
$arrow-punkt-height: 87px
$arrow-punkt-total-width: 674px
$arrow-punkt-total-height: 285px
$arrow-punkt-image: '../img/sprite.png'
$arrow-punkt: (0px, 99px, 0px, -99px, 182px, 87px, 674px, 285px, '../img/sprite.png', 'arrow-punkt', )
$arrow-name: 'arrow'
$arrow-x: 182px
$arrow-y: 171px
$arrow-offset-x: -182px
$arrow-offset-y: -171px
$arrow-width: 30px
$arrow-height: 13px
$arrow-total-width: 674px
$arrow-total-height: 285px
$arrow-image: '../img/sprite.png'
$arrow: (182px, 171px, -182px, -171px, 30px, 13px, 674px, 285px, '../img/sprite.png', 'arrow', )
$box-2-mob-name: 'box-2-mob'
$box-2-mob-x: 103px
$box-2-mob-y: 219px
$box-2-mob-offset-x: -103px
$box-2-mob-offset-y: -219px
$box-2-mob-width: 32px
$box-2-mob-height: 32px
$box-2-mob-total-width: 674px
$box-2-mob-total-height: 285px
$box-2-mob-image: '../img/sprite.png'
$box-2-mob: (103px, 219px, -103px, -219px, 32px, 32px, 674px, 285px, '../img/sprite.png', 'box-2-mob', )
$box-2-name: 'box-2'
$box-2-x: 607px
$box-2-y: 54px
$box-2-offset-x: -607px
$box-2-offset-y: -54px
$box-2-width: 39px
$box-2-height: 39px
$box-2-total-width: 674px
$box-2-total-height: 285px
$box-2-image: '../img/sprite.png'
$box-2: (607px, 54px, -607px, -54px, 39px, 39px, 674px, 285px, '../img/sprite.png', 'box-2', )
$box-mob-name: 'box-mob'
$box-mob-x: 38px
$box-mob-y: 219px
$box-mob-offset-x: -38px
$box-mob-offset-y: -219px
$box-mob-width: 36px
$box-mob-height: 36px
$box-mob-total-width: 674px
$box-mob-total-height: 285px
$box-mob-image: '../img/sprite.png'
$box-mob: (38px, 219px, -38px, -219px, 36px, 36px, 674px, 285px, '../img/sprite.png', 'box-mob', )
$box-name: 'box'
$box-x: 562px
$box-y: 99px
$box-offset-x: -562px
$box-offset-y: -99px
$box-width: 44px
$box-height: 44px
$box-total-width: 674px
$box-total-height: 285px
$box-image: '../img/sprite.png'
$box: (562px, 99px, -562px, -99px, 44px, 44px, 674px, 285px, '../img/sprite.png', 'box', )
$card-mob-name: 'card-mob'
$card-mob-x: 113px
$card-mob-y: 186px
$card-mob-offset-x: -113px
$card-mob-offset-y: -186px
$card-mob-width: 36px
$card-mob-height: 27px
$card-mob-total-width: 674px
$card-mob-total-height: 285px
$card-mob-image: '../img/sprite.png'
$card-mob: (113px, 186px, -113px, -186px, 36px, 27px, 674px, 285px, '../img/sprite.png', 'card-mob', )
$card-name: 'card'
$card-x: 0px
$card-y: 186px
$card-offset-x: 0px
$card-offset-y: -186px
$card-width: 44px
$card-height: 33px
$card-total-width: 674px
$card-total-height: 285px
$card-image: '../img/sprite.png'
$card: (0px, 186px, 0px, -186px, 44px, 33px, 674px, 285px, '../img/sprite.png', 'card', )
$clock-mob-name: 'clock-mob'
$clock-mob-x: 135px
$clock-mob-y: 219px
$clock-mob-offset-x: -135px
$clock-mob-offset-y: -219px
$clock-mob-width: 31px
$clock-mob-height: 31px
$clock-mob-total-width: 674px
$clock-mob-total-height: 285px
$clock-mob-image: '../img/sprite.png'
$clock-mob: (135px, 219px, -135px, -219px, 31px, 31px, 674px, 285px, '../img/sprite.png', 'clock-mob', )
$clock-name: 'clock'
$clock-x: 0px
$clock-y: 219px
$clock-offset-x: 0px
$clock-offset-y: -219px
$clock-width: 38px
$clock-height: 38px
$clock-total-width: 674px
$clock-total-height: 285px
$clock-image: '../img/sprite.png'
$clock: (0px, 219px, 0px, -219px, 38px, 38px, 674px, 285px, '../img/sprite.png', 'clock', )
$disk-mob-name: 'disk-mob'
$disk-mob-x: 216px
$disk-mob-y: 186px
$disk-mob-offset-x: -216px
$disk-mob-offset-y: -186px
$disk-mob-width: 26px
$disk-mob-height: 22px
$disk-mob-total-width: 674px
$disk-mob-total-height: 285px
$disk-mob-image: '../img/sprite.png'
$disk-mob: (216px, 186px, -216px, -186px, 26px, 22px, 674px, 285px, '../img/sprite.png', 'disk-mob', )
$disk-name: 'disk'
$disk-x: 196px
$disk-y: 219px
$disk-offset-x: -196px
$disk-offset-y: -219px
$disk-width: 30px
$disk-height: 26px
$disk-total-width: 674px
$disk-total-height: 285px
$disk-image: '../img/sprite.png'
$disk: (196px, 219px, -196px, -219px, 30px, 26px, 674px, 285px, '../img/sprite.png', 'disk', )
$dotted-line-mob-name: 'dotted-line-mob'
$dotted-line-mob-x: 0px
$dotted-line-mob-y: 54px
$dotted-line-mob-offset-x: 0px
$dotted-line-mob-offset-y: -54px
$dotted-line-mob-width: 557px
$dotted-line-mob-height: 45px
$dotted-line-mob-total-width: 674px
$dotted-line-mob-total-height: 285px
$dotted-line-mob-image: '../img/sprite.png'
$dotted-line-mob: (0px, 54px, 0px, -54px, 557px, 45px, 674px, 285px, '../img/sprite.png', 'dotted-line-mob', )
$dotted-line-name: 'dotted-line'
$dotted-line-x: 0px
$dotted-line-y: 0px
$dotted-line-offset-x: 0px
$dotted-line-offset-y: 0px
$dotted-line-width: 674px
$dotted-line-height: 54px
$dotted-line-total-width: 674px
$dotted-line-total-height: 285px
$dotted-line-image: '../img/sprite.png'
$dotted-line: (0px, 0px, 0px, 0px, 674px, 54px, 674px, 285px, '../img/sprite.png', 'dotted-line', )
$figure-up-mob-name: 'figure-up-mob'
$figure-up-mob-x: 518px
$figure-up-mob-y: 99px
$figure-up-mob-offset-x: -518px
$figure-up-mob-offset-y: -99px
$figure-up-mob-width: 44px
$figure-up-mob-height: 46px
$figure-up-mob-total-width: 674px
$figure-up-mob-total-height: 285px
$figure-up-mob-image: '../img/sprite.png'
$figure-up-mob: (518px, 99px, -518px, -99px, 44px, 46px, 674px, 285px, '../img/sprite.png', 'figure-up-mob', )
$figure-up-name: 'figure-up'
$figure-up-x: 465px
$figure-up-y: 99px
$figure-up-offset-x: -465px
$figure-up-offset-y: -99px
$figure-up-width: 53px
$figure-up-height: 54px
$figure-up-total-width: 674px
$figure-up-total-height: 285px
$figure-up-image: '../img/sprite.png'
$figure-up: (465px, 99px, -465px, -99px, 53px, 54px, 674px, 285px, '../img/sprite.png', 'figure-up', )
$footer-logo-name: 'footer-logo'
$footer-logo-x: 149px
$footer-logo-y: 186px
$footer-logo-offset-x: -149px
$footer-logo-offset-y: -186px
$footer-logo-width: 31px
$footer-logo-height: 26px
$footer-logo-total-width: 674px
$footer-logo-total-height: 285px
$footer-logo-image: '../img/sprite.png'
$footer-logo: (149px, 186px, -149px, -186px, 31px, 26px, 674px, 285px, '../img/sprite.png', 'footer-logo', )
$get-mob-name: 'get-mob'
$get-mob-x: 74px
$get-mob-y: 219px
$get-mob-offset-x: -74px
$get-mob-offset-y: -219px
$get-mob-width: 29px
$get-mob-height: 36px
$get-mob-total-width: 674px
$get-mob-total-height: 285px
$get-mob-image: '../img/sprite.png'
$get-mob: (74px, 219px, -74px, -219px, 29px, 36px, 674px, 285px, '../img/sprite.png', 'get-mob', )
$get-name: 'get'
$get-x: 606px
$get-y: 99px
$get-offset-x: -606px
$get-offset-y: -99px
$get-width: 36px
$get-height: 44px
$get-total-width: 674px
$get-total-height: 285px
$get-image: '../img/sprite.png'
$get: (606px, 99px, -606px, -99px, 36px, 44px, 674px, 285px, '../img/sprite.png', 'get', )
$good-mob-name: 'good-mob'
$good-mob-x: 226px
$good-mob-y: 219px
$good-mob-offset-x: -226px
$good-mob-offset-y: -219px
$good-mob-width: 29px
$good-mob-height: 26px
$good-mob-total-width: 674px
$good-mob-total-height: 285px
$good-mob-image: '../img/sprite.png'
$good-mob: (226px, 219px, -226px, -219px, 29px, 26px, 674px, 285px, '../img/sprite.png', 'good-mob', )
$good-name: 'good'
$good-x: 77px
$good-y: 186px
$good-offset-x: -77px
$good-offset-y: -186px
$good-width: 36px
$good-height: 30px
$good-total-width: 674px
$good-total-height: 285px
$good-image: '../img/sprite.png'
$good: (77px, 186px, -77px, -186px, 36px, 30px, 674px, 285px, '../img/sprite.png', 'good', )
$header-mail-name: 'header_mail'
$header-mail-x: 281px
$header-mail-y: 219px
$header-mail-offset-x: -281px
$header-mail-offset-y: -219px
$header-mail-width: 17px
$header-mail-height: 19px
$header-mail-total-width: 674px
$header-mail-total-height: 285px
$header-mail-image: '../img/sprite.png'
$header-mail: (281px, 219px, -281px, -219px, 17px, 19px, 674px, 285px, '../img/sprite.png', 'header_mail', )
$icon-name: 'icon'
$icon-x: 642px
$icon-y: 99px
$icon-offset-x: -642px
$icon-offset-y: -99px
$icon-width: 30px
$icon-height: 36px
$icon-total-width: 674px
$icon-total-height: 285px
$icon-image: '../img/sprite.png'
$icon: (642px, 99px, -642px, -99px, 30px, 36px, 674px, 285px, '../img/sprite.png', 'icon', )
$instogram-mob-name: 'instogram-mob'
$instogram-mob-x: 255px
$instogram-mob-y: 219px
$instogram-mob-offset-x: -255px
$instogram-mob-offset-y: -219px
$instogram-mob-width: 26px
$instogram-mob-height: 26px
$instogram-mob-total-width: 674px
$instogram-mob-total-height: 285px
$instogram-mob-image: '../img/sprite.png'
$instogram-mob: (255px, 219px, -255px, -219px, 26px, 26px, 674px, 285px, '../img/sprite.png', 'instogram-mob', )
$instogram-name: 'instogram'
$instogram-x: 166px
$instogram-y: 219px
$instogram-offset-x: -166px
$instogram-offset-y: -219px
$instogram-width: 30px
$instogram-height: 30px
$instogram-total-width: 674px
$instogram-total-height: 285px
$instogram-image: '../img/sprite.png'
$instogram: (166px, 219px, -166px, -219px, 30px, 30px, 674px, 285px, '../img/sprite.png', 'instogram', )
$logo-footer-mob-name: 'logo-footer-mob'
$logo-footer-mob-x: 557px
$logo-footer-mob-y: 54px
$logo-footer-mob-offset-x: -557px
$logo-footer-mob-offset-y: -54px
$logo-footer-mob-width: 50px
$logo-footer-mob-height: 41px
$logo-footer-mob-total-width: 674px
$logo-footer-mob-total-height: 285px
$logo-footer-mob-image: '../img/sprite.png'
$logo-footer-mob: (557px, 54px, -557px, -54px, 50px, 41px, 674px, 285px, '../img/sprite.png', 'logo-footer-mob', )
$man-name: 'man'
$man-x: 0px
$man-y: 257px
$man-offset-x: 0px
$man-offset-y: -257px
$man-width: 26px
$man-height: 28px
$man-total-width: 674px
$man-total-height: 285px
$man-image: '../img/sprite.png'
$man: (0px, 257px, 0px, -257px, 26px, 28px, 674px, 285px, '../img/sprite.png', 'man', )
$point-name: 'point'
$point-x: 26px
$point-y: 257px
$point-offset-x: -26px
$point-offset-y: -257px
$point-width: 3px
$point-height: 21px
$point-total-width: 674px
$point-total-height: 285px
$point-image: '../img/sprite.png'
$point: (26px, 257px, -26px, -257px, 3px, 21px, 674px, 285px, '../img/sprite.png', 'point', )
$procen-mobt-name: 'procen-mobt'
$procen-mobt-x: 646px
$procen-mobt-y: 54px
$procen-mobt-offset-x: -646px
$procen-mobt-offset-y: -54px
$procen-mobt-width: 27px
$procen-mobt-height: 27px
$procen-mobt-total-width: 674px
$procen-mobt-total-height: 285px
$procen-mobt-image: '../img/sprite.png'
$procen-mobt: (646px, 54px, -646px, -54px, 27px, 27px, 674px, 285px, '../img/sprite.png', 'procen-mobt', )
$procent-name: 'procent'
$procent-x: 44px
$procent-y: 186px
$procent-offset-x: -44px
$procent-offset-y: -186px
$procent-width: 33px
$procent-height: 33px
$procent-total-width: 674px
$procent-total-height: 285px
$procent-image: '../img/sprite.png'
$procent: (44px, 186px, -44px, -186px, 33px, 33px, 674px, 285px, '../img/sprite.png', 'procent', )
$vk-mob-name: 'vk-mob'
$vk-mob-x: 242px
$vk-mob-y: 186px
$vk-mob-offset-x: -242px
$vk-mob-offset-y: -186px
$vk-mob-width: 30px
$vk-mob-height: 18px
$vk-mob-total-width: 674px
$vk-mob-total-height: 285px
$vk-mob-image: '../img/sprite.png'
$vk-mob: (242px, 186px, -242px, -186px, 30px, 18px, 674px, 285px, '../img/sprite.png', 'vk-mob', )
$vk-name: 'vk'
$vk-x: 180px
$vk-y: 186px
$vk-offset-x: -180px
$vk-offset-y: -186px
$vk-width: 36px
$vk-height: 22px
$vk-total-width: 674px
$vk-total-height: 285px
$vk-image: '../img/sprite.png'
$vk: (180px, 186px, -180px, -186px, 36px, 22px, 674px, 285px, '../img/sprite.png', 'vk', )
$spritesheet-width: 674px
$spritesheet-height: 285px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($arrow-acor-mob, $arrow-constructor-mob, $arrow-constructor, $arrow-mob, $arrow-punkt, $arrow, $box-2-mob, $box-2, $box-mob, $box, $card-mob, $card, $clock-mob, $clock, $disk-mob, $disk, $dotted-line-mob, $dotted-line, $figure-up-mob, $figure-up, $footer-logo, $get-mob, $get, $good-mob, $good, $header-mail, $icon, $instogram-mob, $instogram, $logo-footer-mob, $man, $point, $procen-mobt, $procent, $vk-mob, $vk, )
$spritesheet: (674px, 285px, '../img/sprite.png', $spritesheet-sprites, )

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)

  Example usage in HTML:
    `display: block` sprite:
    <div class="icon-home"></div>

  To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
    // CSS
    .icon {
      display: inline-block;
    }

    // HTML
    <i class="icon icon-home"></i>
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

/*
  The `sprites` mixin generates identical output to the CSS template
    but can be overridden inside of SASS

  @include sprites($spritesheet-sprites)
  */
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
